<%= javascript_pack_tag 'people_limit' %>
<%= javascript_pack_tag 'booking_field_validation' %>
<!-- Tab links -->
<div class="container-fluid " style="object-fit:cover; width:100vw; height:100%; padding-left : 0; margin: 0; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path 'domaine.JPG' %>); background-size: cover">
  <div class="container-fluid" id="grad1">
    <div class="title-center d-flex justify-content-center" >
      <%= link_to root_path, class: "navbar-brand column-center" do%>
        <h1 class="font-text vivenda-size-big color-to-white"> <%= " Vivenda "%> </h1>
        <h2 class="font-text nossa-size-big color-to-white "> <%="- a Nossa Coroa -"%></h2>
      <% end %>
    </div>
    <div class="w-100 d-flex justify-content-center align-items-center align-self-end">
      <div class="new-session-form col-10 col-md-6 shadow p-3 mb-5 bg-white rounded d-flex flex-column justify-content-center">
        <h1 class="text-center pb-3 mb-0 op-7"><strong><%= t(".title") %></strong></h1>
        <div class="inputs-container-registration px-4">
          <%= simple_form_for [@booking] do |f| %>
            <div class="booking-calendar">
              <%= f.input :range_date, as: :string, input_html: {class: "datepicker-arrival pl-5", id: "arrival-date"}  %> </div>
            </div>
            <%= f.input :arrival_date, as: :string, :as => :hidden, input_html: {class: "datepicker-disable", id: "arrival-date-input"}  %>
            <%= f.input :departure_date, as: :string, :as => :hidden, input_html: {class: "datepicker-departure", id: "departure-date-input"} %>
            <div class="form-row px-4">
              <div class="form-group col-md-6">
                <%= f.input :adults, input_html: {id: "booking_adults"}, default: 0, collection: 0..5 %>
              </div>
              <div class="form-group col-md-6">
                <%= f.input :childrens, input_html: {id: "booking_children"}, default: 0, collection: 0..5 %>
              </div>
              <%= f.input :baby_bed, as: :boolean, boolean_style: :inline, input_html: {class: "label"} %>
            </div>
            <div class="form-row px-4">
              <div class="form-group col-md-6">
                <%= f.input :first_name %>
              </div>
              <div class="form-group col-md-6">
                <%= f.input :last_name %>
              </div>
            </div>
            <div class="form-row px-4">
              <div class="form-group col-md-6">
                <%= f.input :email %>
              </div>
              <div class="form-group col-md-6">
                <%= f.input :phone %>
              </div>
            </div>
            <div class="form-row px-4">
              <div class="form-group col-md-6">
                <%= f.input :street %>
              </div>
              <div class="form-group col-md-6">
                <%= f.input :city %>
              </div>
            </div>
            <div class="form-row px-4">
              <div class="form-group col-md-6">
                <%= f.input :zipcode %>
              </div>
              <div class="form-group col-md-6">
                <%= f.input :country %>
              </div>
            </div>
            <div class="form-row px-4">
              <%= f.input :comment, as: :text, :maxlength => 300  %>
            </div>
            <%= f.submit "#{t('.confirm')}", id:"booking-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>               
                      