<%= javascript_pack_tag 'people_limit' %>
<%= javascript_pack_tag 'disable_date' %>
<%= javascript_pack_tag 'tab_bookings' %>



 <!-- Tab links -->


<div class="container-fluid " style="object-fit:cover; width:100vw; height:100%; padding-left : 0; margin: 0; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path 'domaine.JPG' %>); background-size: cover">

<div class="title-center d-flex justify-content-center" >
  <%= link_to root_path, class: "navbar-brand column-center " do  %>
    <h1 class="font-text vivenda-size-big color-to-white"> <%= " Vivenda " %> </h1>
    <h2 class="font-text nossa-size-big color-to-white "> <%="- a Nossa Coroa -"  %> </h2>
  <% end %>
</div>
    <div class="row justify-content-center mt-0">
        <div class="col-11 col-sm-9 col-md-7 col-lg-4 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3 card-booking">
                <h2><strong><%= t (".title") %></strong></h2>
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <div id="msform">
                            <%= simple_form_for [@booking], id: "msform" do |f| %>
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="account"><strong>Votre séjour</strong></li>
                                <li id="personal"><strong>vos coordonnées</strong></li>
                                <li id="confirm"><strong>validé</strong></li>
                            </ul> <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card">
                                  <div class="d-flex">
                                    <%= f.input :range_date, as: :string, input_html: {class: "datepicker-arrival pl-5", id: "arrival-date"}  %>
                                    <%= f.input :arrival_date, as: :string, :as => :hidden, input_html: {class: "datepicker-disable", id: "arrival-date-input"}  %>
                                    <%= f.input :departure_date, as: :string, :as => :hidden, input_html: {class: "datepicker-departure", id: "departure-date-input"} %>
                                     </div><%= f.input :adults, input_html: {id: "booking_adults"},  selected: 0, collection: 0..5 %>
                                    <%= f.input :childrens, input_html: {class: "people-limit "}, selected: 0, collection: 0..5 %>
                                    <div class="d-block">
                                    <%= f.input :baby_bed, as: :boolean, boolean_style: :inline, input_html: {class: "label"}  %>
                                    </div>

                                </div> <input type="button" name="next" class="next action-button" value="Next Step" />
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                   <div>
                                    <%= f.input :first_name %>
                                    <%= f.input :last_name %>
                                    <%= f.input :email %>
                                    <%= f.input :phone %>
                                    <%= f.input :street %>
                                    <%= f.input :city %>
                                    <%= f.input :zipcode %>
                                    <%= f.input :country %>
                                    <%= f.input :comment %>
                                  </div>
                                </div> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />  <input type="submit" name="next" class="next action-button" value="Next Step" />
                            </fieldset>
                            <fieldset>

                                <div class="form-card">
                                    <h2 class="fs-title text-center">Success !</h2> <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-3"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image"> </div>
                                    </div> <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-7 text-center">
                                            <h5>You Have Successfully Signed Up</h5>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <% end %>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
