<!-- Navbar -->
<%= render "navbar"%>
<!-- about us content -->
  <div class="row d-flex justify-content-start main_div_about ">
    <div class="col-lg-6">
      <%= image_tag 'domain.JPG', class:"card-img-about", alt:"#{t('.domain_alt')}"%>
    </div>
    <div class="col-lg-6">
      <h1 class="title_about"><%= t('.about_us')%></h1>
      <div class="underline"></div>
      <p><%= t('.about_us_description_html')%></p>
     </div>
  </div>

<!-- Footer -->
<%= render "footer"%>
