<!-- Navbar -->
<%= render "navbar"%>

<div class="container">
  <h1 class="mt-5"><%= t('.rates') %></h1>
  <div class="underline"></div>
    <div class="prices my-5">
      <div class="row border-tarif">
        <div class="col">
          <h3><%= t('.low_season') %></h3>
          <p><%= t('.period_low') %></p>
          <p><%= t('.price_week_low_html') %></p>
          <p><%= t('.price_night_low') %></p>
          <p><%= t('.price_month_low_html') %></p>
        </div>
        <div class="col">
          <h3><%= t('.medium_season') %></h3>
          <p><%= t('.period_medium') %></p>
          <p><%= t('.price_week_medium_html') %></p>
          <p><%= t('.price_night_medium') %></p>
          <p> / </p>
        </div>
        <div class="col">
          <h3><%= t('.high_season') %></h3>
          <p><%= t('.period_high') %></p>
          <p><%= t('.price_week_high_html') %></p>
          <p>/</p>
          <p>/</p>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <p class="col-12 mt-5">
          <%= t('.payment_html') %>
        </p>
      </div>
    </div>
  </div>
​</div>
​
<!-- Footer -->
<%= render "footer"%>
